body {
    background-color: #f1faee ;
    color: #1d3557;
    font-family: "Poppins", sans-serif ;
}

.day_block, .current{
    background-color: #a8dadc;
}

.day_block img {
    width: 75%;
}

#navbar {
    background-color: #e63946;
}

#current_thumbnail {
    width: 50%;
}

#nav-logo {
    filter: invert(94%) sepia(3%) saturate(729%) hue-rotate(64deg) brightness(106%) contrast(96%);
}